*{
    margin: 0;
}

#promo{
    width: 100%;
    height: 45px;
    display: flex;
    background-color: #EDC202;
    justify-content: space-between;
}

#leftslide, #rightslide{
    margin: 0 15px;
}

.slider{
    width: 44px;
    height: 44px;
}

#text-banner{
    width: 60%;
    display: flex;
    justify-content: space-between;
    height: 30px;
    margin: 10px 0;
}


#preheadind{
    width: 35%;
    margin: 3.2px 0;
    text-align: center;
    font-size: 13px;
    font-family: 'Mulish', sans-serif;
    color: black;
    letter-spacing: 1px;
}

#heading, #link-client{
    margin: 3.2px 0;
    text-align: center;
    font-size: 13px;
    font-family: 'Mulish', sans-serif;
    color: black;
    letter-spacing: 1px;
}

#heading{
    width: 22%;
}

#link-client{
    width: 40%;
}
#link-client:hover{
    color: black;
    text-decoration: underline;
}

/*---------------------------Search and Sign In/ Sign Up--------------------------------- */
#utility{
    display: flex;
    justify-content:end ;
    background-color: #F7F6F2;
}
#language{
    display: flex;
}
#utility:hover{
    cursor: pointer;
}

#language>div:nth-child(3)>img{
    width: 10px;
    height: 10px;
    margin: 15px 10px;
    fill: #167A92;
}

#language>div:nth-child(1)>img{
    width: 20px;
    height: 20px;
    margin: 10px 10px;
}

#language>div:nth-child(2)>p{
    font-size: 12px;
    font-family: 'Mulish', sans-serif;
    margin: 12px 0;
    color: #167A92;
}
#language>div:nth-child(2)>p:hover{
    color: black;
}
#credebility{
    display: flex;
    margin-right: 40px;
}
#credebility>div:nth-child(1)>img{
    width: 20px;
    height: 20px;
    margin: 10px 10px;
}
#credebility>div:nth-child(2)>a{
    font-size: 12px;
    font-family: 'Mulish', sans-serif;
    margin: 12px 0;
    text-decoration: none;
    color: #167A92;
}
#credebility>div:nth-child(2)>a:hover{
    color: black;
}
#credebility>div:nth-child(2){
    height: 20px;
    padding: 12px 0;
}
#credibility:hover{
    cursor: pointer;
}
/*---------------------------main-secondary-search-cart--------------------------------- */
#navbar1{
    
    display: flex;
    height:60px;
    justify-content: space-between;
    background-color: #FDFDF9;
    border-bottom: 1px solid #E5E2DE;
}

#main-secondary{
    display: flex;
    margin-left: 40px;
}
#main{
    padding: 20px 20px 10px;
    border: 1px solid #E5E2DE;
    border-top: 3px solid #167A92;
}
#main>a{
    color: black;
    text-decoration: none;
    font-family: 'PT Serif', serif;
    font-size: 14px;
    letter-spacing: 4px;
}
#main:hover{
    cursor: pointer;
}
#secondary{
    padding: 17px;
    border: 1px solid #E5E2DE;
    border-top: 0;
}
#secondary:hover{
    cursor: pointer;
}
#search-cart{
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin-right: 40px;
}
#search{
    display: flex;
    margin: 9px 0;
    justify-content: space-between;
    width: 75%;
    height: 42px;
    border-radius: 3px;
    border: 1px solid #E5E2DE;
}
.search{
    cursor: pointer;
    text-decoration:none;
    color: black;
}
#seacrch:hover, #search>a:hover{
    color: black;
}
#search>img{
    width: 15px;
    margin-right: 15px;
}
#search>a{
    font-size: 14px;
    margin: 12px 15px ;
    font-family: 'Mulish', sans-serif;
    color: #167A92;
}
#cart_ico>a>img{
    width: 20px;
    margin: 20px;
}
/*---------------------------Product variation--------------------------------- */
#parentvariation{
    background-color: #FDFDF9;
    border-bottom: 1px solid #E5E2DE;
}
#variation{
    width: 93%;
    height: 60px;
    display: flex;
    gap: 10px;
    margin: auto;
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
}
#variation>div{
    padding: 22px 0;
}
#variation>div>a{
    color: black;
    padding: 20px 10px;
    font-size: 14px;
    text-decoration:none ;
}
#variation>div:hover{
    cursor: pointer;
    padding: 22px 0;
    border-bottom: 3px solid #167A92;
    color: #167A92;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 60px;
}

/* ------------------------------------------Page content------------------------------------- */
#main_container{
    width: 92%;
    gap: 20px;
    display: flex;
    justify-content: space-between;
    margin: 30px auto 0;
}
#beauty_category_container{
    width: 30%;
    font-family: 'Mulish', sans-serif;
    margin-bottom: 20px;
}
.beauty_category_heading{
    font-size: .8rem;
}
#beauty_category{
    margin: 20px 0 60px;
}
#beauty_category>div:nth-child(1)>a{
    color: #167A92;
    font-size: .8rem;
}
.beauty_category_name>a{
    font-size: .8rem;
    font-family: 'Mulish', sans-serif;
    color: black;
    text-decoration: none;
}
.beauty_category_name>a:hover{
    text-decoration:underline;
}
.beauty_category_name{
    margin: 20px 0;
}
#beauty_category>div:first-child{
    margin-bottom: 40px;
}

.add_btn{
  border: none; 
  background-color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.filter_type{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(222, 222, 222);
}
.filter_type>a{
    color: black;
    text-decoration: none;
}
.filter_type>a:hover, .add_btn:hover{
    color: #167A92;
    text-decoration: none;
}
#filter_container>p{
    color: rgb(218, 218, 218);
}
/*-- -------------------------------Beauty Product Content Part------------------------------------- */
#beauty_product_container{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,auto);
    gap: 20px;
    width: auto;
    margin:auto;
        
}
#detail{
    width: 100%;
    margin: 0 auto 30px;
    display:flex;
    justify-content: space-between;
    font-family: 'Mulish', sans-serif;
    color: black;
}
h3{
    margin: 10px 0;
    font-size: .8rem;
    font-family: 'Mulish', sans-serif;
    font-weight: 100;
}
h4{
    margin: 10px 0;
    font-size: .8rem;
    font-family: 'Mulish', sans-serif;
    font-weight: 100;
}
button{
    font-size: .8rem;
    font-family: 'Mulish', sans-serif;
    cursor: pointer;
    margin-top: 20px;
    padding: 10px 10px;
    border-radius: 10px;
    border: 1px solid rgb(157, 157, 157);
    background-color: rgb(157, 157, 157);
    color: white;
}
button:hover{
    background-color: white;
    border: 1px solid rgb(157, 157, 157);
    color: #167A92;
    margin-top: 20px;
    padding: 10px 10px;
    border-radius: 10px;
}
#pro{
    margin-left: -52%;
    margin-top: 35px;
    font-size: 15px;
}
#sort_div{
    width: 20%;
    display: flex;
    justify-content: space-between;
}
h2{
    font-weight: 100;
}
#sort{
    padding-top: 5px;
}
#filter{
    width: 80%;
    border: 1px solid rgb(206, 206, 206);
}
#filter:hover{
    color: #167A92;
    border: 1px solid rgb(206, 206, 206);
}

/*------------------------------------------Footer Part Now on--------------------------------------------------- */

